In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [2]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [3]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [4]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [5]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']]
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [6]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [7]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-171303   TO-130287  4828.35 2022-09-21 04:24:03
1    FRM-138532   TO-140085  2161.86 2022-10-15 02:23:11
2    FRM-153052   TO-147409   935.97 2022-10-06 13:02:49
3    FRM-130426   TO-155466   704.91 2022-10-12 07:18:16
4    FRM-106691   TO-130426  9879.15 2022-09-27 11:54:07

In [8]:
from_or_to={'from_customer':'from_customer',
                    'to_customer':'to_customer'}
for i in range(len(from_or_to)):
            list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

In [9]:
def pick_random_elements(dataFrame):
        from_or_to=['from_customer','to_customer']
        for i in range(len(dataFrame)):
                randomized_customer=dataFrame.loc[:,random.choice(from_or_to)].iat[random.randint(5,len(dataFrame)-1)]
                tweaked_customer_list.append(randomized_customer)
                #If list is not unique start from beginning
                
                if not np.unique(tweaked_customer_list).size == len(tweaked_customer_list):
                        tweaked_customer_list.clear()
        if not tweaked_customer_list:
            pick_random_elements(dataFrame)


            
def splitString(str):
    alpha = ""
    num = ""
    special = ""
    for i in range(len(str)):
        if (str[i].isdigit()):
            num = num+ str[i]
        elif((str[i] >= 'A' and str[i] <= 'Z') or
             (str[i] >= 'a' and str[i] <= 'z')):
            alpha += str[i]
        else:
            special += str[i]
 
    return(num)


def sum_of_numbers(number):
    if number>9:
        ones=number%10
        tens=(number-ones)/10
        number=ones+tens
    return int(number)

def split_elements(customer_list):
    for customer in customer_list:
        if len(customer.split('-')[0])<=2:
            receiver_list.append(customer)
        else:
            giver_list.append(customer)

receiver_list=[]
giver_list=[]
tweaked_customer_list=[]

In [10]:
pick_random_elements(df)
print(tweaked_customer_list)
split_elements(tweaked_customer_list)

['FRM-147409', 'TO-146889', 'TO-153052', 'TO-159307', 'FRM-109712', 'FRM-130287', 'FRM-117859', 'TO-183261']

In [11]:
df.copy=df
df.copy.head()
for i in range(len(giver_list)+3):
    giver_list.append(giver_list[random.randint(0,len(giver_list))-1])
giver_list

['FRM-147409',
 'FRM-109712',
 'FRM-130287',
 'FRM-117859',
 'FRM-117859',
 'FRM-117859',
 'FRM-109712',
 'FRM-109712',
 'FRM-117859',
 'FRM-130287',
 'FRM-130287']

In [12]:
#Replace random elements in from_customer
def random_relationship(getlist):
    i=1
    for element in getlist:
            df.copy['from_customer'] = df['from_customer'].replace([df.loc[i+1, 'from_customer'],element])
            i+=1
            #random.randint(i,len(df))

In [13]:
random_relationship(giver_list)
giver_list

['FRM-147409',
 'FRM-109712',
 'FRM-130287',
 'FRM-117859',
 'FRM-117859',
 'FRM-117859',
 'FRM-109712',
 'FRM-109712',
 'FRM-117859',
 'FRM-130287',
 'FRM-130287']

In [14]:
#Get the duplicateds
df.copy['from_customer']=df.copy['from_customer'].str.extract('(\d+)')
df.copy['to_customer']=df.copy['to_customer'].str.extract('(\d+)')
dups_all = df.copy.pivot_table(columns=['from_customer'], aggfunc='size')
dups=[]
a=0
for i in dups_all.values:
    if i>1:
        dups.append(dups_all.index[a])
    a+=1
print(dups_all)

from_customer
103175     1
105610     1
107918     1
118962     1
125918     1
127912     1
131870     1
132784     1
133074     1
135725     1
136115     1
137135     1
138532    12
141707     1
143238     2
146889     2
147060     1
148713     1
151270     1
153379     1
155466     1
159307     1
160800     1
162778     1
163464     1
166611     2
167213     1
169296     1
171303     1
174190     1
175675     1
180849     1
181806     1
185828     2
188958     1
dtype: int64

In [15]:
df_dups=df[df.copy.from_customer.isin(dups)==True]
df_final=df[df.copy.from_customer.isin(dups)==False]

In [16]:
print(df_dups)

   from_customer to_customer   amount           timestamp
1         138532      140085  2161.86 2022-10-15 02:23:11
2         138532      147409   935.97 2022-10-06 13:02:49
3         138532      155466   704.91 2022-10-12 07:18:16
4         138532      130426  9879.15 2022-09-27 11:54:07
5         138532      137135  8133.30 2022-10-12 09:21:11
6         138532      159307  3071.31 2022-09-27 17:28:20
7         138532      196564  1024.31 2022-09-28 22:37:48
8         138532      107918  2307.10 2022-09-24 14:18:06
9         138532      138532  5308.29 2022-09-15 22:53:33
10        138532      167764  8391.31 2022-10-11 03:31:00
11        138532      109712  9721.87 2022-09-18 04:37:15
12        138532      166611  1137.10 2022-10-11 10:34:02
14        185828      135725   924.14 2022-10-06 09:39:26
15        185828      125918  3311.37 2022-10-18 14:31:01
25        166611      185828  4829.50 2022-10-08 12:35:47
26        166611      153052  8698.67 2022-09-23 13:02:03
39        146889      103175  3463.17 2022-10-02 10:39:10
40        146889      136115   377.38 2022-10-01 23:52:16
43        143238      180849  9658.16 2022-09-30 20:51:29
44        143238      106691  9677.31 2022-09-30 15:46:49

#Neo4j

In [17]:
from neo4j import GraphDatabase

In [18]:
transaction_info=df.values.tolist()
print(dups)

['138532', '143238', '146889', '166611', '185828']

In [19]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def create_customer(tx, from_customer):
    tx.run("CREATE (c1:Customer {name: $name, customer_id: $id})",name='customer', id=from_customer)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

def create_transaction(tx, from_customer, to_customer,amount,timestamp):
    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship
    for i in dups:
            session.write_transaction(create_customer, str(i))
    for i in transaction_info:
        if str(i[0]) in dups:
            #session.write_transaction(create_customer2, str(i[1]))
            session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
            continue
        session.write_transaction(create_customer, str(i[0]))
        #session.write_transaction(create_customer2, str(i[1]))
        session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
    
    

    
            
        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()

/tmp/ipykernel_69777/3017973299.py:19: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_customer, str(i))
/tmp/ipykernel_69777/3017973299.py:25: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_customer, str(i[0]))
/tmp/ipykernel_69777/3017973299.py:27: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
/tmp/ipykernel_69777/3017973299.py:23: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))