In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [15]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [16]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [17]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [18]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']] 
#dropped_df=df.drop(['amount','timestamp'], axis=1)

   from_customer to_customer   amount           timestamp
0     FRM-141906   TO-164896  8281.24 2022-10-22 23:05:08
1     FRM-198833   TO-129114  8184.66 2022-10-16 22:03:50
2     FRM-149741   TO-166969  8999.30 2022-09-26 17:29:55
3     FRM-107371   TO-113228  2044.61 2022-09-15 03:18:38
4     FRM-153594   TO-193940  8446.52 2022-10-25 14:49:11
5     FRM-182898   TO-160674  3743.67 2022-09-22 06:13:28
6     FRM-192436   TO-130550  2111.00 2022-10-28 14:45:36
7     FRM-193940   TO-160384  6690.21 2022-09-27 16:00:57
8     FRM-199356   TO-173088  5332.40 2022-10-02 06:02:45
9     FRM-156846   TO-120169  5136.80 2022-09-28 08:54:17
10    FRM-172709   TO-126214    20.70 2022-10-09 09:26:25
11    FRM-163261   TO-182898  3964.21 2022-10-05 14:05:40
12    FRM-101945   TO-110493  9050.90 2022-09-19 02:53:33
13    FRM-133071   TO-163261  5197.47 2022-10-12 07:05:26
14    FRM-142939   TO-163763  2462.16 2022-09-21 18:29:58
15    FRM-176021   TO-191537  8631.33 2022-10-05 13:49:49
16    FRM-110493   TO-133071  5841.16 2022-10-11 20:44:44
17    FRM-160384   TO-156846  8818.38 2022-10-04 01:10:49
18    FRM-164896   TO-126348  5327.48 2022-10-20 16:59:02
19    FRM-120169   TO-107371  4736.51 2022-10-10 08:32:52
20    FRM-132115   TO-122313  6282.46 2022-10-28 05:57:50
21    FRM-122313   TO-136516  9201.36 2022-10-13 18:39:58
22    FRM-155770   TO-120551  4191.27 2022-09-20 09:53:23
23    FRM-120551   TO-176021   971.18 2022-09-21 21:22:04
24    FRM-126214   TO-149741  6150.59 2022-10-17 02:02:15
25    FRM-151757   TO-180066  2203.80 2022-10-20 14:51:05
26    FRM-127700   TO-157221  2797.38 2022-09-22 23:31:02
27    FRM-151338   TO-199356  3271.13 2022-09-18 18:30:20
28    FRM-199835   TO-114598  8459.31 2022-09-27 21:19:51
29    FRM-113228   TO-192436  6676.62 2022-09-24 07:29:54
30    FRM-130550   TO-151338  3457.70 2022-10-26 19:29:21
31    FRM-191537   TO-153594  6751.67 2022-10-01 05:48:20
32    FRM-126348   TO-155770  6172.87 2022-10-20 20:34:24
33    FRM-116260   TO-116371   559.37 2022-10-25 13:30:48
34    FRM-166969   TO-135286  1483.62 2022-10-23 06:16:03
35    FRM-155393   TO-151757  6691.73 2022-09-22 01:05:12
36    FRM-121864   TO-142939  6372.79 2022-10-08 12:44:40
37    FRM-135286   TO-172709  5018.90 2022-09-20 19:03:41
38    FRM-182469   TO-198833  4771.90 2022-09-17 05:22:17
39    FRM-180066   TO-141906   705.50 2022-10-15 08:08:39
40    FRM-114598   TO-121864  4374.92 2022-10-11 06:42:30
41    FRM-160674   TO-199835   358.00 2022-09-26 09:33:36
42    FRM-163763   TO-101945  1129.51 2022-10-03 19:53:15
43    FRM-173088   TO-158560  9717.85 2022-10-19 10:44:13
44    FRM-158560   TO-182469  7098.37 2022-10-11 16:54:02
45    FRM-126302   TO-132115   787.10 2022-09-14 20:35:57
46    FRM-116371   TO-126302  7291.39 2022-10-20 15:32:09
47    FRM-157221   TO-127700    86.28 2022-10-16 04:31:06
48    FRM-136516   TO-155393   573.32 2022-10-14 19:52:00
49    FRM-129114   TO-116260  5614.45 2022-10-12 18:35:54

In [19]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [20]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-141906   TO-164896  8281.24 2022-10-22 23:05:08
1    FRM-198833   TO-129114  8184.66 2022-10-16 22:03:50
2    FRM-149741   TO-166969  8999.30 2022-09-26 17:29:55
3    FRM-107371   TO-113228  2044.61 2022-09-15 03:18:38
4    FRM-153594   TO-193940  8446.52 2022-10-25 14:49:11

In [21]:
from_or_to={'from_customer':'from_customer',
                    'to_customer':'to_customer'}
for i in range(len(from_or_to)):
            list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

Emre Kaya

In [22]:

"""random  sayı üret 
to dan random sayı kadar seç
yeni dataframe e ekle
"""

'random  sayı üret \nto dan random sayı kadar seç\nyeni dataframe e ekle\n'

In [23]:
from_customer=list(df["from_customer"])#from_customer adlı sütünü listeye çevirdim

to_customer=list(df["to_customer"])#to_customer adlı sütünü listeye çevirdim

In [24]:
len(to_customer) # to_customer uzunluğu

50

In [25]:
new_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
new_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem

In [463]:
len(df)

50

In [29]:
a=df["from_customer"]

In [46]:



def take_ıd (series_df,some_list):

    ıd = list(series_df)
    

    for i in ıd :
       
        partition_series="".join(i)
        series=partition_series.split("-")
        some_list.append(series[1])
    return some_list

In [47]:
ıd_taker=[]
take_ıd(df["from_customer"],ıd_taker)

['141906',
 '198833',
 '149741',
 '107371',
 '153594',
 '182898',
 '192436',
 '193940',
 '199356',
 '156846',
 '172709',
 '163261',
 '101945',
 '133071',
 '142939',
 '176021',
 '110493',
 '160384',
 '164896',
 '120169',
 '132115',
 '122313',
 '155770',
 '120551',
 '126214',
 '151757',
 '127700',
 '151338',
 '199835',
 '113228',
 '130550',
 '191537',
 '126348',
 '116260',
 '166969',
 '155393',
 '121864',
 '135286',
 '182469',
 '180066',
 '114598',
 '160674',
 '163763',
 '173088',
 '158560',
 '126302',
 '116371',
 '157221',
 '136516',
 '129114']

In [48]:
ıd_taker

['141906',
 '198833',
 '149741',
 '107371',
 '153594',
 '182898',
 '192436',
 '193940',
 '199356',
 '156846',
 '172709',
 '163261',
 '101945',
 '133071',
 '142939',
 '176021',
 '110493',
 '160384',
 '164896',
 '120169',
 '132115',
 '122313',
 '155770',
 '120551',
 '126214',
 '151757',
 '127700',
 '151338',
 '199835',
 '113228',
 '130550',
 '191537',
 '126348',
 '116260',
 '166969',
 '155393',
 '121864',
 '135286',
 '182469',
 '180066',
 '114598',
 '160674',
 '163763',
 '173088',
 '158560',
 '126302',
 '116371',
 '157221',
 '136516',
 '129114']

In [26]:

for i in range(len(df)): # df nin uzunluğu kadar bir döngü yapıyorum
    rand_numb=random.randint(1,5)  # rastgele random sayı üretiyorum ki from_customer ' random sayıda aktivasyonu olsun
    print("i=",i,"- rand_numb=",rand_numb)
    print("ilk for new_from_customer",len(new_from_customer))


    for j in range(rand_numb): #random sayıyla döngü kuruyorum 
       
        print("j=",j)
        choices=random.choices(to_customer) #to_customer listesinden random seçiyorum 
        # aynı müşteri kendine göndermemesi iiçin seçimi parçalıyorum
        choices_sp="".join(choices) 
        choices_sp_jo=choices_sp.split("-") 

        number_to_customer=choices_sp_jo[1]
        from_customer_sp=from_customer[i]
        number_from_customer=from_customer[i].split("-")[1]

        # aynı müşteri kendine göndermemesi id leri  kıyaslıyorum eğer aynıysa döngüye devam ediyor 
        if (number_from_customer[1]== number_to_customer[1]):
            print("AYNI")
            continue
        
        
        if len(new_from_customer)==len(df): # df nin uzunluğuna eşit olunca çıkması lazım
            break
        new_from_customer.append(from_customer[i]) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
        print("2.for new_from_customer",len(new_from_customer))
        
        if len(new_to_customer)==len(df):
            break
        new_to_customer.append(choices) # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz

i= 0 - rand_numb= 1
ilk for new_from_customer 0
j= 0
2.for new_from_customer 1
i= 1 - rand_numb= 2
ilk for new_from_customer 1
j= 0
AYNI
j= 1
2.for new_from_customer 2
i= 2 - rand_numb= 4
ilk for new_from_customer 2
j= 0
2.for new_from_customer 3
j= 1
2.for new_from_customer 4
j= 2
AYNI
j= 3
2.for new_from_customer 5
i= 3 - rand_numb= 3
ilk for new_from_customer 5
j= 0
2.for new_from_customer 6
j= 1
2.for new_from_customer 7
j= 2
2.for new_from_customer 8
i= 4 - rand_numb= 3
ilk for new_from_customer 8
j= 0
2.for new_from_customer 9
j= 1
2.for new_from_customer 10
j= 2
2.for new_from_customer 11
i= 5 - rand_numb= 1
ilk for new_from_customer 11
j= 0
2.for new_from_customer 12
i= 6 - rand_numb= 3
ilk for new_from_customer 12
j= 0
2.for new_from_customer 13
j= 1
2.for new_from_customer 14
j= 2
2.for new_from_customer 15
i= 7 - rand_numb= 5
ilk for new_from_customer 15
j= 0
2.for new_from_customer 16
j= 1
2.for new_from_customer 17
j= 2
2.for new_from_customer 18
j= 3
2.for new_from_customer 19
j= 4
2.for new_from_customer 20
i= 8 - rand_numb= 4
ilk for new_from_customer 20
j= 0
2.for new_from_customer 21
j= 1
2.for new_from_customer 22
j= 2
2.for new_from_customer 23
j= 3
2.for new_from_customer 24
i= 9 - rand_numb= 1
ilk for new_from_customer 24
j= 0
AYNI
i= 10 - rand_numb= 4
ilk for new_from_customer 24
j= 0
2.for new_from_customer 25
j= 1
2.for new_from_customer 26
j= 2
2.for new_from_customer 27
j= 3
2.for new_from_customer 28
i= 11 - rand_numb= 1
ilk for new_from_customer 28
j= 0
AYNI
i= 12 - rand_numb= 2
ilk for new_from_customer 28
j= 0
2.for new_from_customer 29
j= 1
2.for new_from_customer 30
i= 13 - rand_numb= 2
ilk for new_from_customer 30
j= 0
AYNI
j= 1
AYNI
i= 14 - rand_numb= 5
ilk for new_from_customer 30
j= 0
2.for new_from_customer 31
j= 1
2.for new_from_customer 32
j= 2
2.for new_from_customer 33
j= 3
2.for new_from_customer 34
j= 4
2.for new_from_customer 35
i= 15 - rand_numb= 3
ilk for new_from_customer 35
j= 0
2.for new_from_customer 36
j= 1
2.for new_from_customer 37
j= 2
2.for new_from_customer 38
i= 16 - rand_numb= 4
ilk for new_from_customer 38
j= 0
2.for new_from_customer 39
j= 1
2.for new_from_customer 40
j= 2
AYNI
j= 3
2.for new_from_customer 41
i= 17 - rand_numb= 5
ilk for new_from_customer 41
j= 0
2.for new_from_customer 42
j= 1
2.for new_from_customer 43
j= 2
2.for new_from_customer 44
j= 3
2.for new_from_customer 45
j= 4
2.for new_from_customer 46
i= 18 - rand_numb= 5
ilk for new_from_customer 46
j= 0
2.for new_from_customer 47
j= 1
2.for new_from_customer 48
j= 2
2.for new_from_customer 49
j= 3
2.for new_from_customer 50
j= 4
AYNI
i= 19 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 20 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 21 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 22 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 23 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 24 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 25 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 26 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 27 - rand_numb= 1
ilk for new_from_customer 50
j= 0
AYNI
i= 28 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 29 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 30 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 31 - rand_numb= 2
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 32 - rand_numb= 1
ilk for new_from_customer 50
j= 0
AYNI
i= 33 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 34 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 35 - rand_numb= 1
ilk for new_from_customer 50
j= 0
AYNI
i= 36 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 37 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 38 - rand_numb= 5
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 39 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 40 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 41 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 42 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 43 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 44 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 45 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 46 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 47 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 48 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 49 - rand_numb= 4
ilk for new_from_customer 50
j= 0

In [465]:

len(new_from_customer)

50

In [466]:
len(new_to_customer)
amount=list(df["amount"]) # df de ki amount u listeye dönüştürüyorum
timestamp=list(df["timestamp"]) #df de ki timestamp u listeye dönüştürüyorum

In [467]:
new_data_frame=pd.DataFrame() # yeni data frame oluşturuyorum

# listeleri yeni data frame aktarıyorum 
new_data_frame['from_customer']=new_from_customer
new_data_frame['to_customer']=new_to_customer
new_data_frame['amount']=amount

new_data_frame['timestamp']=timestamp

In [468]:
new_data_frame

   from_customer  to_customer   amount           timestamp
0     FRM-103621  [TO-126027]  4975.86 2022-09-27 16:08:01
1     FRM-184983  [TO-135500]  9663.81 2022-10-13 00:19:21
2     FRM-154647  [TO-101497]  6599.61 2022-10-17 18:04:06
3     FRM-154647  [TO-149734]  9378.38 2022-09-30 06:10:33
4     FRM-193903  [TO-105892]  5554.60 2022-09-16 02:24:30
5     FRM-184801  [TO-155751]  8892.48 2022-10-16 11:47:19
6     FRM-184473  [TO-128146]  9475.60 2022-10-17 13:54:15
7     FRM-184473  [TO-179760]  9523.37 2022-10-23 03:35:18
8     FRM-184473  [TO-174009]  1795.86 2022-10-22 00:26:03
9     FRM-181335  [TO-129361]   445.58 2022-09-22 02:34:05
10    FRM-181335  [TO-176998]  9128.50 2022-10-21 17:56:25
11    FRM-181335  [TO-174612]  1294.76 2022-10-20 00:06:24
12    FRM-181335  [TO-152927]  2048.81 2022-09-24 02:48:04
13    FRM-120399  [TO-155751]  6138.12 2022-10-15 11:15:11
14    FRM-120399  [TO-155001]  3130.31 2022-10-09 20:27:47
15    FRM-120399  [TO-159418]  8034.70 2022-09-22 13:34:27
16    FRM-198208  [TO-179760]  6351.80 2022-10-09 07:52:44
17    FRM-198208  [TO-144314]  5029.29 2022-09-21 08:29:28
18    FRM-198208  [TO-182087]  1412.50 2022-09-29 05:14:26
19    FRM-198208  [TO-130109]  2760.35 2022-10-27 10:15:16
20    FRM-120083  [TO-189374]  8083.11 2022-10-08 19:52:31
21    FRM-120083  [TO-147904]  3376.17 2022-10-08 11:25:25
22    FRM-120083  [TO-181335]  5532.82 2022-09-21 16:36:20
23    FRM-132550  [TO-159053]  6973.79 2022-10-09 17:09:33
24    FRM-132550  [TO-174612]  3367.94 2022-10-22 20:52:30
25    FRM-132550  [TO-123687]  7969.42 2022-10-08 23:39:06
26    FRM-132550  [TO-184983]  5880.99 2022-10-21 01:33:16
27    FRM-132550  [TO-120083]  1968.49 2022-10-19 01:28:42
28    FRM-130109  [TO-179760]   584.94 2022-10-27 04:42:55
29    FRM-130109  [TO-166398]  9265.90 2022-10-01 13:57:11
30    FRM-179760  [TO-154647]  8299.00 2022-09-21 02:47:54
31    FRM-179760  [TO-191352]  7514.64 2022-10-13 19:02:59
32    FRM-129361  [TO-158237]  3900.15 2022-10-24 01:23:47
33    FRM-136715  [TO-198208]  6377.40 2022-09-20 05:52:07
34    FRM-136715  [TO-150257]  7237.16 2022-09-16 10:50:40
35    FRM-136715  [TO-120083]  4587.71 2022-10-23 10:56:40
36    FRM-136715  [TO-107265]  7997.40 2022-10-04 06:18:14
37    FRM-155751  [TO-113861]  9479.40 2022-10-04 20:31:30
38    FRM-155751  [TO-163043]  3588.93 2022-09-23 05:41:00
39    FRM-155751  [TO-191352]  7356.75 2022-09-21 02:00:24
40    FRM-155751  [TO-144314]  2806.52 2022-10-17 21:36:21
41    FRM-155751  [TO-166398]  5740.39 2022-10-27 08:43:53
42    FRM-191352  [TO-145736]   442.81 2022-09-14 05:58:59
43    FRM-191352  [TO-179760]  7409.95 2022-10-11 10:47:14
44    FRM-191352  [TO-154854]  4870.28 2022-09-30 06:48:18
45    FRM-191352  [TO-181335]  8138.18 2022-10-24 17:26:27
46    FRM-141801  [TO-191280]  4877.15 2022-10-25 20:35:30
47    FRM-141801  [TO-184473]  7609.77 2022-10-18 08:13:03
48    FRM-141801  [TO-181335]  5095.12 2022-09-26 10:14:06
49    FRM-141801  [TO-113002]  7420.28 2022-10-07 00:12:27

#Neo4j