In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [2]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [3]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [4]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [5]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']]
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [6]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [7]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-138230   TO-183433  4211.20 2022-09-16 22:16:59
1    FRM-107279   TO-182288   517.44 2022-10-06 09:34:49
2    FRM-154001   TO-155948  7049.10 2022-09-16 03:36:04
3    FRM-164676   TO-195458  3184.29 2022-10-02 14:37:38
4    FRM-117204   TO-126883  1235.77 2022-10-01 22:06:46

In [8]:
from_or_to={'from_customer':'from_customer',
                    'to_customer':'to_customer'}
for i in range(len(from_or_to)):
            list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

In [9]:
def pick_random_elements(dataFrame):
        from_or_to=['from_customer','to_customer']
        for i in range(len(dataFrame)):
                randomized_customer=dataFrame.loc[:,random.choice(from_or_to)].iat[random.randint(25,len(dataFrame)-1)]
                tweaked_customer_list.append(randomized_customer)
                #If list is not unique start from beginning
                
                if not np.unique(tweaked_customer_list).size == len(tweaked_customer_list):
                        tweaked_customer_list.clear()
        if not tweaked_customer_list:
            pick_random_elements(dataFrame)


            
def splitString(str):
    alpha = ""
    num = ""
    special = ""
    for i in range(len(str)):
        if (str[i].isdigit()):
            num = num+ str[i]
        elif((str[i] >= 'A' and str[i] <= 'Z') or
             (str[i] >= 'a' and str[i] <= 'z')):
            alpha += str[i]
        else:
            special += str[i]
 
    return(num)


def sum_of_numbers(number):
    if number>9:
        ones=number%10
        tens=(number-ones)/10
        number=ones+tens
    return int(number)

def split_elements(customer_list):
    for customer in customer_list:
        if len(customer.split('-')[0])<=2:
            receiver_list.append(customer)
        else:
            giver_list.append(customer)

receiver_list=[]
giver_list=[]
tweaked_customer_list=[]

In [10]:
pick_random_elements(df)
print(tweaked_customer_list)
split_elements(tweaked_customer_list)

['TO-195716', 'TO-164676', 'TO-138230', 'FRM-114186', 'TO-120396', 'TO-101358', 'FRM-194722', 'FRM-142202', 'FRM-155820', 'TO-147078', 'TO-144861', 'FRM-155249']

In [11]:
df.copy=df
df.copy.head()

  from_customer to_customer   amount           timestamp
0    FRM-138230   TO-183433  4211.20 2022-09-16 22:16:59
1    FRM-107279   TO-182288   517.44 2022-10-06 09:34:49
2    FRM-154001   TO-155948  7049.10 2022-09-16 03:36:04
3    FRM-164676   TO-195458  3184.29 2022-10-02 14:37:38
4    FRM-117204   TO-126883  1235.77 2022-10-01 22:06:46

In [12]:
#Replace random elements in from_customer
def random_relationship(getlist):
    for element in getlist:
        df.copy['from_customer'] = df['from_customer'].replace([df.loc[random.randint(0,len(df)), 'from_customer'],element])

In [13]:
random_relationship(giver_list)
giver_list

['FRM-114186', 'FRM-194722', 'FRM-142202', 'FRM-155820', 'FRM-155249']

In [14]:
#Get the duplicateds
df.copy['from_customer']=df.copy['from_customer'].str.extract('(\d+)')
df.copy['to_customer']=df.copy['to_customer'].str.extract('(\d+)')
dups_color = df.copy.pivot_table(columns=['from_customer'], aggfunc='size')
print(dups_color)
df.copy.head()

from_customer
101358    3
104853    1
107279    1
110176    1
112745    1
114068    1
117017    2
117204    1
120396    1
122714    1
126883    1
127599    1
137421    1
138178    1
138206    4
138230    1
144861    1
146310    1
147078    1
150684    1
153990    1
154001    1
155948    1
156644    1
163041    1
164676    1
164792    1
173131    1
173350    1
177272    1
180849    1
182288    1
183433    2
186837    3
193333    1
195458    1
195716    1
198252    1
198408    2
198899    1
dtype: int64

  from_customer to_customer   amount           timestamp
0        138230      183433  4211.20 2022-09-16 22:16:59
1        107279      182288   517.44 2022-10-06 09:34:49
2        154001      155948  7049.10 2022-09-16 03:36:04
3        164676      195458  3184.29 2022-10-02 14:37:38
4        117204      126883  1235.77 2022-10-01 22:06:46

#Neo4j

In [19]:
from neo4j import GraphDatabase

transaction_list = df.copy.values.tolist()
execution_commands=[]


for i in transaction_list:
    if str(i[0])
    neo4j_create_statement = "CREATE (f:from_customer {from_customer_id: " + str(i[0]) +"}), (t:to_customer {to_customer_id: " + str(i[1]) + "})"+"Create (f)-[:Transaction{amaount: " + str(i[2]) + "}] -> (t)"
    #neo4j_create_relationship="Create ("+str(i[0])+")-[:Transaction{amaount: " + str(i[2]) + "}] -> ("+str(i[1])+")"
    execution_commands.append(neo4j_create_statement)

def exec_transaction(execution_commands):
    db_connection=GraphDatabase.driver(uri="bolt://localhost:7687",auth=('neo4j','test'))
    session=db_connection.session()
    for i in execution_commands:
        session.run(i)

exec_transaction(execution_commands)