In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [2]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [3]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-######'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [4]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [5]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']]
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [6]:
df_m = df.sample(random.randint(row_number//10,int(row_number/5)))
print(len(df_m))
df_m.loc[:,'from_customer']

20

20    FRM-003911
7     FRM-644680
69    FRM-282353
47    FRM-921101
15    FRM-237178
86    FRM-534210
83    FRM-274688
23    FRM-936245
80    FRM-689732
70    FRM-346642
32    FRM-628315
51    FRM-971440
76    FRM-249210
34    FRM-342542
5     FRM-387614
33    FRM-550697
11    FRM-627673
43    FRM-886913
53    FRM-687454
9     FRM-780855
Name: from_customer, dtype: object

In [7]:
try:
    equal=any(df_m['from_customer'].str.extract('(\d+)')==df_m['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [8]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
df_m.head()

   from_customer to_customer   amount           timestamp
20    FRM-003911   TO-849575  9422.34 2022-09-14 01:28:08
7     FRM-644680   TO-652528  5216.82 2022-09-25 09:52:49
69    FRM-282353   TO-458055  8863.99 2022-09-21 17:51:12
47    FRM-921101   TO-151692  4642.60 2022-09-28 06:34:54
15    FRM-237178   TO-288631  9612.10 2022-10-08 08:19:36

In [9]:
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-652528   TO-069839  2186.48 2022-10-09 13:53:52
1    FRM-904820   TO-627673  3681.33 2022-09-30 20:43:11
2    FRM-917298   TO-689732  1530.33 2022-09-18 04:26:37
3    FRM-113212   TO-366276  3994.97 2022-09-15 23:59:13
4    FRM-843711   TO-057507  7337.49 2022-09-26 12:33:28

In [10]:
from_or_to={'from_customer':'from_customer',
                    'to_customer':'to_customer'}
for i in range(len(from_or_to)):
            list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

In [11]:
len(df_m)

20

In [12]:
def pick_random_elements(dataFrame):
        from_or_to=['from_customer','to_customer']
        for _ in range(len(dataFrame)):
                randomized_customer=dataFrame[random.choice(from_or_to)].iat[random.randint(1,len(dataFrame)-1)]
                tweaked_customer_list.append(randomized_customer)
                #If list is not unique start from beginning
                if not np.unique(tweaked_customer_list).size == len(tweaked_customer_list):
                        tweaked_customer_list.clear()
def splitString(str):
    alpha = ""
    num = ""
    special = ""
    for i in range(len(str)):
        if (str[i].isdigit()):
            num = num+ str[i]
        elif((str[i] >= 'A' and str[i] <= 'Z') or
             (str[i] >= 'a' and str[i] <= 'z')):
            alpha += str[i]
        else:
            special += str[i]
 
    return(num)

def sum_of_numbers(number):
    if number>9:
        ones=number%10
        tens=(number-ones)/10
        number=ones+tens
    return number

def split_elements(customer_list):
    for customer in customer_list:
        if len(customer.split('-')[0])<=2:
            receiver_list.append(customer)
        else:
            giver_list.append(customer)

receiver_list=[]
giver_list=[]
tweaked_customer_list=[]

In [13]:
pick_random_elements(df_m)
print(tweaked_customer_list)
split_elements(tweaked_customer_list)

['TO-594334', 'TO-687454', 'FRM-282353', 'TO-274688', 'TO-652528', 'TO-520651', 'TO-451974', 'TO-992466']

In [14]:
def random_relationship(from_list,to_list):
    base_number= len(from_list)
    for element in from_list:
        if splitString(element) in to_list:
            pass

In [15]:
receiver_list

['TO-594334',
 'TO-687454',
 'TO-274688',
 'TO-652528',
 'TO-520651',
 'TO-451974',
 'TO-992466']

In [16]:
giver_list

['FRM-282353']

In [18]:

sum_of_numbers(11)

TypeError: object of type 'int' has no len()