In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random

In [2]:
fake=Faker()

fake_data = defaultdict(list)

#Fake data is generated.

In [3]:

for i in range(500):
    fake_data['from_customer'].append(fake.bothify(text='FRM-######'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [4]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [5]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']]
dropped_df=df.drop(['amount','timestamp'], axis=1)

In [6]:
df_manipulation = dropped_df.sample(random.randint(3,9))

In [7]:
try:
    equal=any(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [8]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
df_manipulation

    from_customer to_customer
447    FRM-903081   TO-093496
31     FRM-137489   TO-234513
499    FRM-715099   TO-993465
462    FRM-334033   TO-479831
59     FRM-697764   TO-097664
405    FRM-711523   TO-339856
34     FRM-668515   TO-839179

In [9]:
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))

          0
447  903081
31   137489
499  715099
462  334033
59   697764
405  711523
34   668515
          0
447  093496
31   234513
499  993465
462  479831
59   097664
405  339856
34   839179

In [10]:
tweaked_customer_list=[]
from_or_to=['from_customer','to_customer']
total=5
for _ in range(total):
        randomized_customer=df_manipulation[random.choice(from_or_to)].iat[random.randint(1,len(df_manipulation)-1)]
        tweaked_customer_list.append(randomized_customer)
        #If list is not unique start from beginning
        if not np.unique(tweaked_customer_list).size == len(tweaked_customer_list):
                tweaked_customer_list.clear()
                kalan=5-total
                total+=kalan