In [450]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [451]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [452]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [453]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [454]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']] 
df
#dropped_df=df.drop(['amount','timestamp'], axis=1)

   from_customer to_customer   amount           timestamp
0     FRM-103621   TO-101497  4975.86 2022-09-27 16:08:01
1     FRM-184983   TO-184801  9663.81 2022-10-13 00:19:21
2     FRM-154647   TO-107265  6599.61 2022-10-17 18:04:06
3     FRM-193903   TO-155751  9378.38 2022-09-30 06:10:33
4     FRM-184801   TO-166398  5554.60 2022-09-16 02:24:30
5     FRM-184473   TO-152927  8892.48 2022-10-16 11:47:19
6     FRM-181335   TO-120083  9475.60 2022-10-17 13:54:15
7     FRM-120399   TO-176998  9523.37 2022-10-23 03:35:18
8     FRM-198208   TO-174612  1795.86 2022-10-22 00:26:03
9     FRM-120083   TO-126027   445.58 2022-09-22 02:34:05
10    FRM-132550   TO-198208  9128.50 2022-10-21 17:56:25
11    FRM-130109   TO-128146  1294.76 2022-10-20 00:06:24
12    FRM-179760   TO-132550  2048.81 2022-09-24 02:48:04
13    FRM-129361   TO-154854  6138.12 2022-10-15 11:15:11
14    FRM-136715   TO-147904  3130.31 2022-10-09 20:27:47
15    FRM-155751   TO-140646  8034.70 2022-09-22 13:34:27
16    FRM-191352   TO-182087  6351.80 2022-10-09 07:52:44
17    FRM-141801   TO-163043  5029.29 2022-09-21 08:29:28
18    FRM-158237   TO-164241  1412.50 2022-09-29 05:14:26
19    FRM-126027   TO-113002  2760.35 2022-10-27 10:15:16
20    FRM-135500   TO-159418  8083.11 2022-10-08 19:52:31
21    FRM-107265   TO-149734  3376.17 2022-10-08 11:25:25
22    FRM-164241   TO-105892  5532.82 2022-09-21 16:36:20
23    FRM-176998   TO-174009  6973.79 2022-10-09 17:09:33
24    FRM-182545   TO-191280  3367.94 2022-10-22 20:52:30
25    FRM-159418   TO-123687  7969.42 2022-10-08 23:39:06
26    FRM-163043   TO-184983  5880.99 2022-10-21 01:33:16
27    FRM-113861   TO-154647  1968.49 2022-10-19 01:28:42
28    FRM-159053   TO-120399   584.94 2022-10-27 04:42:55
29    FRM-152927   TO-191352  9265.90 2022-10-01 13:57:11
30    FRM-182087   TO-182545  8299.00 2022-09-21 02:47:54
31    FRM-191280   TO-158237  7514.64 2022-10-13 19:02:59
32    FRM-174612   TO-155001  3900.15 2022-10-24 01:23:47
33    FRM-174009   TO-144314  6377.40 2022-09-20 05:52:07
34    FRM-155001   TO-181335  7237.16 2022-09-16 10:50:40
35    FRM-123687   TO-105640  4587.71 2022-10-23 10:56:40
36    FRM-105892   TO-150257  7997.40 2022-10-04 06:18:14
37    FRM-101497   TO-184473  9479.40 2022-10-04 20:31:30
38    FRM-189374   TO-130109  3588.93 2022-09-23 05:41:00
39    FRM-128146   TO-129361  7356.75 2022-09-21 02:00:24
40    FRM-140646   TO-159053  2806.52 2022-10-17 21:36:21
41    FRM-144314   TO-103621  5740.39 2022-10-27 08:43:53
42    FRM-105640   TO-113861   442.81 2022-09-14 05:58:59
43    FRM-154854   TO-179760  7409.95 2022-10-11 10:47:14
44    FRM-149734   TO-145736  4870.28 2022-09-30 06:48:18
45    FRM-166398   TO-189374  8138.18 2022-10-24 17:26:27
46    FRM-147904   TO-136715  4877.15 2022-10-25 20:35:30
47    FRM-145736   TO-141801  7609.77 2022-10-18 08:13:03
48    FRM-150257   TO-135500  5095.12 2022-09-26 10:14:06
49    FRM-113002   TO-193903  7420.28 2022-10-07 00:12:27

In [455]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [456]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-103621   TO-101497  4975.86 2022-09-27 16:08:01
1    FRM-184983   TO-184801  9663.81 2022-10-13 00:19:21
2    FRM-154647   TO-107265  6599.61 2022-10-17 18:04:06
3    FRM-193903   TO-155751  9378.38 2022-09-30 06:10:33
4    FRM-184801   TO-166398  5554.60 2022-09-16 02:24:30

In [457]:
from_or_to={'from_customer':'from_customer',
                    'to_customer':'to_customer'}
for i in range(len(from_or_to)):
            list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

Emre Kaya

In [458]:

"""random  sayı üret 
to dan random sayı kadar seç
yeni dataframe e ekle
"""

'random  sayı üret \nto dan random sayı kadar seç\nyeni dataframe e ekle\n'

In [460]:
from_customer=list(df["from_customer"])#from_customer adlı sütünü listeye çevirdim

to_customer=list(df["to_customer"])#to_customer adlı sütünü listeye çevirdim

In [461]:
len(to_customer) # to_customer uzunluğu

50

In [462]:
new_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
new_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem

In [463]:
len(df)

50

In [464]:

for i in range(len(df)): # df nin uzunluğu kadar bir döngü yapıyorum
    rand_numb=random.randint(1,5)  # rastgele random sayı üretiyorum ki from_customer ' random sayıda aktivasyonu olsun
    print("i=",i,"- rand_numb=",rand_numb)
    print("ilk for new_from_customer",len(new_from_customer))


    for j in range(rand_numb): #random sayıyla döngü kuruyorum 
       
        print("j=",j)
        choices=random.choices(to_customer) #to_customer listesinden random seçiyorum 
        # aynı müşteri kendine göndermemesi iiçin seçimi parçalıyorum
        choices_sp="".join(choices) 
        choices_sp_jo=choices_sp.split("-") 

        number_to_customer=choices_sp_jo[1]
        from_customer_sp=from_customer[i]
        number_from_customer=from_customer[i].split("-")[1]

        # aynı müşteri kendine göndermemesi id leri  kıyaslıyorum eğer aynıysa döngüye devam ediyor 
        if (number_from_customer[1]== number_to_customer[1]):
            print("AYNI")
            continue
        
        
        if len(new_from_customer)==len(df): # df nin uzunluğuna eşit olunca çıkması lazım
            break
        new_from_customer.append(from_customer[i]) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
        print("2.for new_from_customer",len(new_from_customer))
        
        if len(new_to_customer)==len(df):
            break
        new_to_customer.append(choices) # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz

i= 0 - rand_numb= 1
ilk for new_from_customer 0
j= 0
2.for new_from_customer 1
i= 1 - rand_numb= 2
ilk for new_from_customer 1
j= 0
2.for new_from_customer 2
j= 1
AYNI
i= 2 - rand_numb= 2
ilk for new_from_customer 2
j= 0
2.for new_from_customer 3
j= 1
2.for new_from_customer 4
i= 3 - rand_numb= 1
ilk for new_from_customer 4
j= 0
2.for new_from_customer 5
i= 4 - rand_numb= 3
ilk for new_from_customer 5
j= 0
AYNI
j= 1
AYNI
j= 2
2.for new_from_customer 6
i= 5 - rand_numb= 3
ilk for new_from_customer 6
j= 0
2.for new_from_customer 7
j= 1
2.for new_from_customer 8
j= 2
2.for new_from_customer 9
i= 6 - rand_numb= 5
ilk for new_from_customer 9
j= 0
2.for new_from_customer 10
j= 1
2.for new_from_customer 11
j= 2
2.for new_from_customer 12
j= 3
AYNI
j= 4
2.for new_from_customer 13
i= 7 - rand_numb= 5
ilk for new_from_customer 13
j= 0
2.for new_from_customer 14
j= 1
AYNI
j= 2
2.for new_from_customer 15
j= 3
2.for new_from_customer 16
j= 4
AYNI
i= 8 - rand_numb= 4
ilk for new_from_customer 16
j= 0
2.for new_from_customer 17
j= 1
2.for new_from_customer 18
j= 2
2.for new_from_customer 19
j= 3
2.for new_from_customer 20
i= 9 - rand_numb= 4
ilk for new_from_customer 20
j= 0
2.for new_from_customer 21
j= 1
AYNI
j= 2
2.for new_from_customer 22
j= 3
2.for new_from_customer 23
i= 10 - rand_numb= 5
ilk for new_from_customer 23
j= 0
2.for new_from_customer 24
j= 1
2.for new_from_customer 25
j= 2
2.for new_from_customer 26
j= 3
2.for new_from_customer 27
j= 4
2.for new_from_customer 28
i= 11 - rand_numb= 2
ilk for new_from_customer 28
j= 0
2.for new_from_customer 29
j= 1
2.for new_from_customer 30
i= 12 - rand_numb= 2
ilk for new_from_customer 30
j= 0
2.for new_from_customer 31
j= 1
2.for new_from_customer 32
i= 13 - rand_numb= 1
ilk for new_from_customer 32
j= 0
2.for new_from_customer 33
i= 14 - rand_numb= 4
ilk for new_from_customer 33
j= 0
2.for new_from_customer 34
j= 1
2.for new_from_customer 35
j= 2
2.for new_from_customer 36
j= 3
2.for new_from_customer 37
i= 15 - rand_numb= 5
ilk for new_from_customer 37
j= 0
2.for new_from_customer 38
j= 1
2.for new_from_customer 39
j= 2
2.for new_from_customer 40
j= 3
2.for new_from_customer 41
j= 4
2.for new_from_customer 42
i= 16 - rand_numb= 5
ilk for new_from_customer 42
j= 0
2.for new_from_customer 43
j= 1
2.for new_from_customer 44
j= 2
AYNI
j= 3
2.for new_from_customer 45
j= 4
2.for new_from_customer 46
i= 17 - rand_numb= 5
ilk for new_from_customer 46
j= 0
2.for new_from_customer 47
j= 1
2.for new_from_customer 48
j= 2
AYNI
j= 3
2.for new_from_customer 49
j= 4
2.for new_from_customer 50
i= 18 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 19 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 20 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 21 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 22 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 23 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 24 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 25 - rand_numb= 3
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 26 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 27 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 28 - rand_numb= 5
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 29 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 30 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 31 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 32 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 33 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 34 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 35 - rand_numb= 5
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 36 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 37 - rand_numb= 5
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 38 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 39 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 40 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 41 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 42 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 43 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 44 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 45 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 46 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 47 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 48 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 49 - rand_numb= 4
ilk for new_from_customer 50
j= 0

In [465]:

len(new_from_customer)

50

In [466]:
len(new_to_customer)
amount=list(df["amount"]) # df de ki amount u listeye dönüştürüyorum
timestamp=list(df["timestamp"]) #df de ki timestamp u listeye dönüştürüyorum

In [467]:
new_data_frame=pd.DataFrame() # yeni data frame oluşturuyorum

# listeleri yeni data frame aktarıyorum 
new_data_frame['from_customer']=new_from_customer
new_data_frame['to_customer']=new_to_customer
new_data_frame['amount']=amount

new_data_frame['timestamp']=timestamp

In [468]:
new_data_frame

   from_customer  to_customer   amount           timestamp
0     FRM-103621  [TO-126027]  4975.86 2022-09-27 16:08:01
1     FRM-184983  [TO-135500]  9663.81 2022-10-13 00:19:21
2     FRM-154647  [TO-101497]  6599.61 2022-10-17 18:04:06
3     FRM-154647  [TO-149734]  9378.38 2022-09-30 06:10:33
4     FRM-193903  [TO-105892]  5554.60 2022-09-16 02:24:30
5     FRM-184801  [TO-155751]  8892.48 2022-10-16 11:47:19
6     FRM-184473  [TO-128146]  9475.60 2022-10-17 13:54:15
7     FRM-184473  [TO-179760]  9523.37 2022-10-23 03:35:18
8     FRM-184473  [TO-174009]  1795.86 2022-10-22 00:26:03
9     FRM-181335  [TO-129361]   445.58 2022-09-22 02:34:05
10    FRM-181335  [TO-176998]  9128.50 2022-10-21 17:56:25
11    FRM-181335  [TO-174612]  1294.76 2022-10-20 00:06:24
12    FRM-181335  [TO-152927]  2048.81 2022-09-24 02:48:04
13    FRM-120399  [TO-155751]  6138.12 2022-10-15 11:15:11
14    FRM-120399  [TO-155001]  3130.31 2022-10-09 20:27:47
15    FRM-120399  [TO-159418]  8034.70 2022-09-22 13:34:27
16    FRM-198208  [TO-179760]  6351.80 2022-10-09 07:52:44
17    FRM-198208  [TO-144314]  5029.29 2022-09-21 08:29:28
18    FRM-198208  [TO-182087]  1412.50 2022-09-29 05:14:26
19    FRM-198208  [TO-130109]  2760.35 2022-10-27 10:15:16
20    FRM-120083  [TO-189374]  8083.11 2022-10-08 19:52:31
21    FRM-120083  [TO-147904]  3376.17 2022-10-08 11:25:25
22    FRM-120083  [TO-181335]  5532.82 2022-09-21 16:36:20
23    FRM-132550  [TO-159053]  6973.79 2022-10-09 17:09:33
24    FRM-132550  [TO-174612]  3367.94 2022-10-22 20:52:30
25    FRM-132550  [TO-123687]  7969.42 2022-10-08 23:39:06
26    FRM-132550  [TO-184983]  5880.99 2022-10-21 01:33:16
27    FRM-132550  [TO-120083]  1968.49 2022-10-19 01:28:42
28    FRM-130109  [TO-179760]   584.94 2022-10-27 04:42:55
29    FRM-130109  [TO-166398]  9265.90 2022-10-01 13:57:11
30    FRM-179760  [TO-154647]  8299.00 2022-09-21 02:47:54
31    FRM-179760  [TO-191352]  7514.64 2022-10-13 19:02:59
32    FRM-129361  [TO-158237]  3900.15 2022-10-24 01:23:47
33    FRM-136715  [TO-198208]  6377.40 2022-09-20 05:52:07
34    FRM-136715  [TO-150257]  7237.16 2022-09-16 10:50:40
35    FRM-136715  [TO-120083]  4587.71 2022-10-23 10:56:40
36    FRM-136715  [TO-107265]  7997.40 2022-10-04 06:18:14
37    FRM-155751  [TO-113861]  9479.40 2022-10-04 20:31:30
38    FRM-155751  [TO-163043]  3588.93 2022-09-23 05:41:00
39    FRM-155751  [TO-191352]  7356.75 2022-09-21 02:00:24
40    FRM-155751  [TO-144314]  2806.52 2022-10-17 21:36:21
41    FRM-155751  [TO-166398]  5740.39 2022-10-27 08:43:53
42    FRM-191352  [TO-145736]   442.81 2022-09-14 05:58:59
43    FRM-191352  [TO-179760]  7409.95 2022-10-11 10:47:14
44    FRM-191352  [TO-154854]  4870.28 2022-09-30 06:48:18
45    FRM-191352  [TO-181335]  8138.18 2022-10-24 17:26:27
46    FRM-141801  [TO-191280]  4877.15 2022-10-25 20:35:30
47    FRM-141801  [TO-184473]  7609.77 2022-10-18 08:13:03
48    FRM-141801  [TO-181335]  5095.12 2022-09-26 10:14:06
49    FRM-141801  [TO-113002]  7420.28 2022-10-07 00:12:27

In [ ]:
def pick_random_elements(dataFrame):
        from_or_to=['from_customer','to_customer']
        for i in range(len(dataFrame)):
                randomized_customer=dataFrame.loc[:,random.choice(from_or_to)].iat[random.randint(5,len(dataFrame)-1)]
                tweaked_customer_list.append(randomized_customer)
                #If list is not unique start from beginning
                
                if not np.unique(tweaked_customer_list).size == len(tweaked_customer_list):
                        tweaked_customer_list.clear()
        if not tweaked_customer_list:
            pick_random_elements(dataFrame)


            
def splitString(str):
    alpha = ""
    num = ""
    special = ""
    for i in range(len(str)):
        if (str[i].isdigit()):
            num = num+ str[i]
        elif((str[i] >= 'A' and str[i] <= 'Z') or
             (str[i] >= 'a' and str[i] <= 'z')):
            alpha += str[i]
        else:
            special += str[i]
 
    return(num)


def sum_of_numbers(number):
    if number>9:
        ones=number%10
        tens=(number-ones)/10
        number=ones+tens
    return int(number)

def split_elements(customer_list):
    for customer in customer_list:
        if len(customer.split('-')[0])<=2:
            receiver_list.append(customer)
        else:
            giver_list.append(customer)

receiver_list=[]
giver_list=[]
tweaked_customer_list=[]

In [ ]:
pick_random_elements(df)
print(tweaked_customer_list)
split_elements(tweaked_customer_list)

In [ ]:
df.copy=df
df.copy.head()
for i in range(len(giver_list)+3):
    giver_list.append(giver_list[random.randint(0,len(giver_list))-1])
giver_list
receiver_list

In [ ]:
#Replace random elements in from_customer
def random_relationship(getlist):
    i=1
    for element in getlist:
            df.copy['from_customer'] = df['from_customer'].replace([df.loc[i+1, 'from_customer'],element])
            i+=1
            #random.randint(i,len(df))

In [ ]:
random_relationship(giver_list)
giver_list

In [ ]:
#Get the duplicateds
df.copy['from_customer']=df.copy['from_customer'].str.extract('(\d+)')
df.copy['to_customer']=df.copy['to_customer'].str.extract('(\d+)')
dups_all = df.copy.pivot_table(columns=['from_customer'], aggfunc='size')
dups=[]
a=0
for i in dups_all.values:
    if i>1:
        dups.append(dups_all.index[a])
    a+=1
print(dups_all)

In [ ]:
df_dups=df[df.copy.from_customer.isin(dups)==True]
df_final=df[df.copy.from_customer.isin(dups)==False]

In [ ]:
print(df_dups)

In [ ]:
df.copy

#Neo4j

In [ ]:
from neo4j import GraphDatabase

In [ ]:
transaction_info=df.values.tolist()
print(dups)

In [ ]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def create_customer(tx, from_customer):
    tx.run("CREATE (c1:Customer {name: $name, customer_id: $id})",name='customer', id=from_customer)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

def create_transaction(tx, from_customer, to_customer,amount,timestamp):
    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship
    for i in dups:
            session.write_transaction(create_customer, str(i))
    for i in transaction_info:
        if str(i[0]) in dups:
            #session.write_transaction(create_customer2, str(i[1]))
            session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
            continue
        session.write_transaction(create_customer, str(i[0]))
        #session.write_transaction(create_customer2, str(i[1]))
        session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
    
    

    
            
        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()